body {
    box-sizing: border-box;
    width: 100%;
    color: #ffffff;
}

header {
    background: url(../Степ2/img/background_header.jpg);
    background-position: top;
}

nav {

background-color: #27262A;}


.burger{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 26px;
    height: 15px;
    cursor: pointer;
  }
  .burger span, .burger span:before, .burger span:after{
    width: 100%;
    position: absolute;
    height: 3px;
    background: #ffffff;
    display: block;
    transition: .3s;
    border-radius: 3px;
  }
  .burger span:before{
    content: "";
    left: 10px;
    width: 15px;
    top: -8px;
    transition: top 100ms 100ms, transform 100ms;
  }
  .burger span{
    top: 20px;
  }
  .burger span:after{
    content: "";
    bottom: -8px;
    transition: bottom 100ms 100ms, transform 100ms;
  }

  .burger span.active:before{
    content: "";
    top: 0px;
    width: 26px;
    left: 0px;
    transform: rotate(45deg);
    transition: top 100ms, transform 100ms 100ms;
  }
  .burger span.active:after{
    content: "";
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 100ms, transform 100ms 100ms;
  }
  .burger span.active{
    background: rgba(255, 255, 255, 0); 
  }

a {
    text-decoration: none;
    color: #ffffff;
}

  .menu{
      
  /*  visibility: hidden; */
    transform: scaleY(0);
    transform-origin: 0 0;
    
    width: 100%;
    color: ;
    height: auto;
    background: #333333;
    
    padding: 10px;
    position: fixed;
    left:2%;
    transition: 300ms;
  }
  .menu.animate{
      width: 96%;
      transform: scaleY(1);
      
  /*  visibility: visible; */
  
  transition: 300ms;  
  }


  p {
      padding-top: 500px;
  }