.body {
    display: flex;
    max-width:1200px;
    margin: auto;
    position: relative;
} 

.title {
order: 1;
flex-grow: 1;
text-align: center;
}
.burger{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .burger span, .burger span:before, .burger span:after{
    width: 100%;
    position: absolute;
    height: 10px;
    background: #333;
    display: block;
    transition: .3s;
    border-radius: 5px;
  }
  .burger span:before{
    content: "";
    left: 20px;
    width: 30px;
    top: -20px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .burger span{
    top: 20px;
  }
  .burger span:after{
    content: "";
    bottom: -20px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .burger span.active:before{
    content: "";
    top: 0px;
    width: 50px;
    left: 0px;
    transform: rotate(45deg);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .burger span.active:after{
    content: "";
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .burger span.active{
    background: rgba(255, 255, 255, 0); 
  }

  .menu{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
    
    width: 300px;
    height: auto;
    background: #333;
    color: #ccc;
    padding: 10px;
    position: fixed;
    left:100;
    transition: 500ms;
  }
  .menu.animate{
    visibility: visible;
  opacity: 1;
  transition: opacity 500ms linear;  
    
    
      
    
    
  }




img {
    order: 2;
    position: absolute;
    right: 0;
    bottom: 0;
}

.list {
width: 37%;
height: 600px;
}



